{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "html": "reports/infection.html",
    },
    "mutators": {
        "@default": true
    },
    "testFramework": "phpunit",
    "bootstrap": "vendor/autoload.php"
}
