<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache"
         colors="true"
         cacheResult="false"
         executionOrder="random"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>src/</directory>
        </include>
    </coverage>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
